{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Регистрация</h1>

<form method="post" class="form">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="form-group">
    <label>Логин</label>
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div class="form-group">
    <label>Пароль</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>

  <div class="form-group" >
    <label>Пароль (повтор)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <button type="submit" class="primary-btn" >
    Зарегистрироваться
  </button>
</form>

<div class="auth-switch" >
  <p>
    Уже есть аккаунт?
    <a class="vhod-v-sistemy" href="{% url 'login' %}">Войдите</a>
  </p>
</div>

{% endblock %}