{% extends 'base.html' %}
{% block content %}
{% load blog_filters %}

<div class="delete-post-page">

  <h1 class="page-title">Удалить запись?</h1>
  <h3 class="page-title">Её нельзя будет восстановить</h3>

  <form method="post" class="delete-form" style="text-align: center;">
    {% csrf_token %}
    <button type="submit" class="danger-btn">Удалить</button>
    <a href="{% url 'blog-detail' object.id %}" class="secondary-btn">Отмена</a>
  </form>



  <div class="post-card" style="margin-top: 15px;">
    <user-post
      post-id="{{ object.id }}"
      author-name="{{ object.user.profile.fname }} {{ object.user.profile.lname }}"
      author-url="{% if object.user == user %}/my_prof/{% else %}{% url 'profiles-detail' object.user.profile.id %}{% endif %}"
      author-photo="{% if object.user.profile.photo %}{{ object.user.profile.photo.url }}{% endif %}"
      author-initial="{{ object.user.username|slice:":1"|upper }}"
      created-at="{{ object.created_at|date:'d.m.Y H:i' }}"
      content="{{ object.content|truncatewords:30 }}"
      post-url="{% url 'blog-detail' object.id %}"
      post-image="{% if object.image %}{{ object.image.url }}{% endif %}"
      likes-count="{{ object.likes_count }}"
      is-liked="{% if object|is_liked_by:user %}true{% else %}false{% endif %}"
      comments-count="{{ object.comments.count }}"
      csrf-token="{{ csrf_token }}"
      action-url="{% url 'blog' %}"
    ></user-post>
 
</div>
</div>

{% endblock %}