{% extends 'base.html' %}
{% load blog_filters %}
{% block content %}

<div>
<h1 class="page-title">Новостная лента</h1>

{% if page_obj.paginator.num_pages > 1 %}
<div>
  {% if page_obj.has_previous %}
    <a class="btn-main" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">« Назад</a>
  {% endif %}

  <span>
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  </span>

  {% if page_obj.has_next %}
    <a class="btn-main" href="?q={{ q }}&page={{ page_obj.next_page_number }}">Вперёд »</a>
  {% endif %}
</div>
{% endif %}


<div class="blog-controls">
  <form method="get" class="search-form">
    <input 
      type="text" 
      name="q" 
      value="{{ q }}" 
      placeholder="Поиск по имени/сообщению"
      class="search-input"
    >
    <button type="submit" class="search-btn">Искать</button>
  </form>

  <a href="{% url 'blog-create' %}" class="btn-primary">
    Добавить запись
  </a>
</div>


<div class="post-card">
  {% for e in page_obj %}
  <section id="{{ e.id }}"></section>
    <user-post
      post-id="{{ e.id }}"
      author-name="{{ e.user.profile.fname }} {{ e.user.profile.lname }}"
      author-url="{% if e.user == user %}/my_prof/{% else %}{% url 'profiles-detail' e.user.profile.id %}{% endif %}"
      author-photo="{% if e.user.profile.photo %}{{ e.user.profile.photo.url }}{% endif %}"
      author-initial="{{ e.user.username|slice:":1"|upper }}"
      created-at="{{ e.created_at|date:'d.m.Y H:i' }}"
      content="{{ e.content|truncatewords:30 }}"
      post-url="{% url 'blog-detail' e.id %}"
      post-image="{% if e.image %}{{ e.image.url }}{% endif %}"
      likes-count="{{ e.likes_count }}"
      is-liked="{% if e|is_liked_by:user %}true{% else %}false{% endif %}"
      comments-count="{{ e.comments.count }}"
      csrf-token="{{ csrf_token }}"
      action-url="{% url 'blog' %}"
    ></user-post>
  {% empty %}
    <p>Записей нет.</p>
  {% endfor %}
</div>


{% if page_obj.paginator.num_pages > 1 %}
<div>
  {% if page_obj.has_previous %}
    <a class="btn-main" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">« Назад</a>
  {% endif %}

  <span>
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  </span>

  {% if page_obj.has_next %}
    <a class="btn-main" href="?q={{ q }}&page={{ page_obj.next_page_number }}">Вперёд »</a>
  {% endif %}
</div>
{% endif %}
</div>
{% endblock %}