{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AMICI{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <script src="{% static 'js/main.js' %}" defer></script>

</head>

<body>

<header class="topbar">
  <nav class="nav-wrapper">
    <a class="logo" href="/blog/">AMICI</a>
    <ul>
      
    <a class="menu-link{% if request.path == '/blog/' %}-active{% endif %}" href="/blog/">Главная</a>
    
    <a class="menu-link{% if request.path == '/my_prof/' %}-active{% endif %}" href="/my_prof/">Мой профиль</a>
    
    {% url 'profiles' as profiles_url %}
    <a class="menu-link{% if request.path == profiles_url %}-active{% endif %}" href="{{ profiles_url }}">Профили</a>
    
    <a class="menu-link{% if request.path == '/about/' %}-active{% endif %}" href="/about/">О проекте</a>
</ul>
    {% if user.is_authenticated %}
      <div>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="logout-btn" type="submit" >
            Выйти
          </button>
        </form>
      </div>
    {% else %}
      <div class="auth-links">
        <a class="menu-link" href="{% url 'login' %}">Войти</a>
        <a class="menu-link" href="{% url 'signup' %}">Регистрация</a>
      </div>
    {% endif %}
  </nav>
</header>

<div class="page">

  <main class="content">

    {% if messages %}
      <div>
        {% for m in messages %}
          <p class="alert-info {{ m.tags }}">{{ m }}</p>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}

  </main>

</div>
{% block scripts %}{% endblock %}
</body>
</html>