{% extends 'base.html' %}
{% block content %}
  <h1>{% if object %}Изменить{% else %}Создать{% endif %} запись</h1>
  <form method="post" class="card" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
      <label>Имя</label>{{ form.fname }}{{ form.fname.errors }}
        <label>Фамилия</label>{{ form.lname }}{{ form.lname.errors }}
        <label>Телефон</label>{{ form.phone }}{{ form.phone.errors }}
      <label>Дата рождения</label>{{ form.birth_date }}{{ form.birth_date.errors }}
        <label>Пол</label>{{ form.gender }}{{ form.gender.errors }}
      <label>О себе</label>{{ form.about }}{{ form.about.errors }}
      <label>Изображение</label>{{ form.photo }}{{ form.photo.errors }}       
    <button type="submit">Сохранить</button>
    <a href="{% if object %}{% url 'profiles-detail' object.id %}{% else %}{% url 'profiles' %}{% endif %}">Отмена</a>
  </form>
{% endblock %}
